/* Main */
*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
    flex: 1;
    border: 5vh solid green;
}


/* Navbar */
.navbar{
    display: flex;
    width: 100%;
    list-style: none;
    background-color: black;
    align-content: space-between;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}
.navbar ul{
    list-style: none;
}
.bx-menu{
    color: white;
    height: 100%;
    width: 100%;

}
.menu-button-phone{
    display: none;
}
.logo{
    margin-right: auto;
    height: 100%;
    width: 50%;
}
.navbar-list{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar-item{
    height: 50px;
}
.navbar-link{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 15px;
}
.navbar-link:hover{
    background-color: #f40003;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(10, 10, 10, 0.2);
    backdrop-filter: blur(5px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}


/* Middle */
.threed{
    border: 15px solid blue;
}
.frenchie{
    border: 15px solid yellow;
}

/* Footer */
footer{
    background: #000;
    color: white;
    text-align: center;
    padding: 0rem;
    margin-top: auto;
}
.footer-space {
    display: flex; /* Enable flexbox layout */
    justify-content: space-between; /* Push children to opposite sides */
    align-items: center; /* Vertically center the content */
    padding: 10px 20px; /* Add some spacing */
}

.footer-copyright {
    font-size: 14px;
    align-content: center;
    color: white; /* Adjust as needed */
}

.footer-icons i {
    font-size: 20px; /* Icon size */
    margin: 0 15px; /* Spacing between icons */
    align-content: space-evenly;
    color: white; /* Default icon color */
    transition: color 0.3s ease; /* Smooth color transition on hover */
}
.footer-icons i:hover {
    color: #007bff; /* Change to your desired hover color */
}


/* Media query */
@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button-phone{
        display: block;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}